* {
    padding: 0;
    margin: 0;
}

html,
body {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background: url('./purple-bokeh.png');
    background-position: center;
    background-repeat: no-repeat;
}

#wrapper input {
    box-sizing: border-box;
    font-size: 1rem;
}

#wrapper input[type=text] {
    padding: 10px 8px;
}

#wrapper input[type=button],
#wrapper input[type=submit] {
    padding: 8px 5px;
    color: #030303;
    background: #fefefe;
    border: 2px solid #fefefe;
    cursor: pointer;
}

#wrapper .formList {
    overflow: auto;
}

#wrapper .formList:after {
    content: "";
    display: table;
}

#wrapper {
    max-width: 500px;
    background: #fefefe;
    padding: 20px;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 4px;
    box-shadow: 0 4px 12px #030303;
}

h1 {
    font-family: Roboto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.7rem;
    color: #800080;
}

#groceryForm {
    margin: 10px 0;
    display: flex;
}

#groceryForm input[type=text] {
    width: 85%;
    border-radius: 5px;
}

#groceryForm input[type=submit] {
    width: 15%;
    background: #800080;
    border-radius: 5px;
    color: #fefefe;
}

#listDelete {
    display: flex;
    justify-content: flex-start;
}

#listDelete .delBtn {
    border: 1px solid #030303;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(3, 3, 3, 0.4);
    margin-right: 1rem;
}

#groceries .formList {
    margin-top: 1rem;
}

#groceries .formList div,
#groceries .formList input {
    box-sizing: border-box;
    float: left;
    display: block;
}

#groceries .item {
    border: 1px solid rgba(3, 3, 3, 0.2);
    border-radius: 3px;
    background: #fefefe;
    width: 80%;
    padding: 10px;
}

#groceries .item.cx {
    background: #c0c0c0;
    text-decoration: line-through;
}

#groceries .item.done {
    background: #DCFFD7;
}

#groceries .formList input {
    width: 10%;
}

@media screen and (max-width: 599px) {
    #wrapper {
        max-width: 85%;
    }

    h1 {
        font-size: 2rem;
    }
}